@function lib-vw($vp-value, $value) {
  @return ((1vw * $value) / ($vp-value * 0.01));
}
.s1 {
  position: relative;
  width: 100%;
  .swiper-container {
    scroll-behavior: smooth;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .slide--item {
      .outline {
        outline: none;
        display: block;
        width: 100%;
      }
    }

    img {
      display: block;
      content: url(images/slide.jpg);

      @media only screen and (max-width: 768px) {
        content: url(images/slide-mb.jpg);
      }
    }
  }
}

.wrap-s2 {
  // height: 780px;
  padding-left: 0px;
  // padding-top: 100px;
  margin: auto;
  @media only screen and (max-width: 768px) {
    padding-left: 0;
    height: auto;
    padding-top: 50px;
    padding-bottom: 250px;
    z-index: 0;
  }
  .tool-tip-ex {
    text-decoration: underline;
    position: absolute;
    bottom: 53px;
    right: 18%;
    z-index: 3;

    @media only screen and (max-width: 768px) {
      bottom: 210px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 0;
    }

    .tooltiptext {
      visibility: hidden;
      width: 300px;
      background-color: #02289d;
      color: #fff;
      text-align: left;
      border-radius: 15px;
      padding: 10px;
      position: absolute;
      z-index: 3;
      bottom: 125%;
      left: -125%;
      opacity: 0;
      transition: opacity 0.3s;

      a {
        color: #fff;
        text-decoration: underline;
      }
    }

    .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
  }
  .swiper-container {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    // padding-left: 90px;
    @media only screen and (max-width: 768px) {
      padding-left: 0px;
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f2f2f2;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;

    @media only screen and (max-width: 768px) {
      width: 100%;
      padding-left: 0%;
      padding-right: 0%;
    }

    img {
      max-width: 100%;
      display: block;
    }
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 14%;
    outline: none;
    @media only screen and (max-width: 768px) {
      right: 1%;
    }
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 14%;
    outline: none;
    @media only screen and (max-width: 768px) {
      left: 1%;
    }
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
  .mix-fraction {
    position: relative;
    top: 10px;
    z-index: 10;

    @media only screen and (max-width: 768px) {
      margin-top: 100px;
      position: fixed;
      bottom: 106px;
      z-index: 13;
      width: 100%;
      height: auto;
      top: auto;
      padding-bottom: 20px;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom {
      text-align: left;
      bottom: 47px;
      left: 18%;
      width: 70%;
      @media only screen and (max-width: 768px) {
        text-align: left;
        bottom: 75px;
        left: 81px;
        width: 100%;
        background: #fff;
        padding: 15px 10px;
      }
    }
    .swiper-pagination {
      margin-top: 0px;
      margin-left: 21%;
      @media only screen and (max-width: 768px) {
        position: relative;
        margin-top: -40px;
        margin-left: 7px;
      }
    }
    .swiper-pagination-bullet {
      width: 100px;
      height: 4px;
      display: inline-block;
      border-radius: 0%;
      opacity: 1;
      background: #e0e0e0;
      margin-right: 10px;
      @media only screen and (max-width: 768px) {
        width: 30px;
        margin-right: 4px;
      }
    }
    .swiper-pagination-bullet-active {
      background: #02289d;
    }
    .fraction {
      font-family: SamsungSharpSans;
      position: relative;
      bottom: 0px;
      z-index: 1;
      font-size: 30px;
      padding-left: 21%;
      @media only screen and (max-width: 768px) {
        position: relative;
        left: 0%;
        background: #fff;
        padding: 15px 26px;
      }
    }

    #currentslide {
      font-size: 35px;
      font-weight: 800;
    }
    #totalslide {
      font-size: 24px;
      font-weight: 800;

      .title-page {
        margin-left: 8px;
        // font-family: SamsungSharpSans;
        font-family: Kittithada;
      }

      @media only screen and (max-width: 768px) {
        .title-page {
          display: none;
        }
      }
    }
  }
}
.container-body--menu {
  width: 100%;
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  padding-bottom: 30px;
  h3 {
    text-align: center;
    font-size: 42px;
  }
  .container {
    width: 100%;
    &--menu {
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 50px;
      margin-right: auto;
      margin-left: auto;
      @media only screen and (min-width: 1440px) {
        max-width: 1200px;
      }
    }
    margin-left: 50px;
    margin-right: 50px;
  }
  .pt-5 {
    padding-top: 20px;
  }

  .block--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: auto;
    // width: 60%;
    // display: flex;
    .butt-box {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      .active {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.19);
        p {
          color: #02289d;
        }
        #mobile {
          // content: url("images/icon/mb-2.png");
          background-image: url("images/icon/mb-2.png");
          background-position: center center;
          background-repeat: no-repeat;
        }
        // #tv2 {
        //   content: url("images/icon/tv-2.png");
        // }
        // #wmc2 {
        //   content: url("images/icon/wm-2.png");
        // }
        // #cloth2 {
        //   content: url("images/icon/cloth-2.png");
        // }
        // #refrig2 {
        //   content: url("images/icon/ref-2.png");
        // }
        // #ac2 {
        //   content: url("images/icon/ac-2.png");
        // }
        // #mc2 {
        //   content: url("images/icon/micro-2.png");
        // }
        // #robot2 {
        //   content: url("images/icon/robot-2.png");
        // }
      }
      // .mobliess .active{
      //    background-image: url("images/icon/mb-2.png");
      //     background-position: center center;
      //     background-repeat: no-repeat;
      // }
      #mobile {
        background-position: center center;
        background-image: url(images/icon/mobile.png);
        background-repeat: no-repeat;
      }
      #mobile:hover {
        background-image: url("images/icon/mb-2.png");
        background-position: center center;
        background-repeat: no-repeat;
        img {
          // content: url("images/icon/mb-2.png");
        }
      }
      #tv {
        background-position: center center;
        background-image: url(images/icon/tv.png);
        background-repeat: no-repeat;
      }
      #tv:hover {
        background-image: url("images/icon/tv-2.png");
        background-position: center center;
        background-repeat: no-repeat;
        // img {
        //   content: url("images/icon/tv-2.png");
        // }
      }
      #wmc {
        background-position: center center;
        background-image: url(images/icon/machine.png);
        background-repeat: no-repeat;
      }
      #wmc:hover {
        background-image: url("images/icon/wm-2.png");
        background-position: center center;
        background-repeat: no-repeat;
        // img {
        //   content: url("images/icon/wm-2.png");
        // }
      }
      #cloth {
        background-position: center center;
        background-image: url(images/icon/cloth.png);
        background-repeat: no-repeat;
      }
      #cloth:hover {
        background-image: url("images/icon/cloth-2.png");
        background-position: center center;
        background-repeat: no-repeat;
        // img {
        //   content: url("images/icon/cloth-2.png");
        // }
      }
      #refrig {
        background-position: center center;
        background-image: url(images/icon/refig.png);
        background-repeat: no-repeat;
      }
      #refrig:hover {
        background-image: url("images/icon/ref-2.png");
        background-position: center center;
        background-repeat: no-repeat;
        // img {
        //   content: url("images/icon/ref-2.png");
        // }
      }
      #ac {
        background-position: center center;
        background-image: url(images/icon/ac.png);
        background-repeat: no-repeat;
      }
      #ac:hover {
        background-image: url("images/icon/ac-2.png");
        background-position: center center;
        background-repeat: no-repeat;
        // img {
        //   content: url("images/icon/ac-2.png");
        // }
      }
      #mc {
        background-position: center center;
        background-image: url(images/icon/micro.png);
        background-repeat: no-repeat;
      }
      #mc:hover {
        background-image: url("images/icon/micro-2.png");
        background-position: center center;
        background-repeat: no-repeat;
        // img {
        //   content: url("images/icon/micro-2.png");
        // }
      }
      #robot {
        background-position: center center;
        background-image: url(images/icon/Robot.png);
        background-repeat: no-repeat;
      }
      #robot:hover {
        background-image: url("images/icon/robot-2.png");
        background-position: center center;
        background-repeat: no-repeat;
        // img {
        //   content: url("images/icon/robot-2.png");
        // }
      }
    }
  }
  .block--menu {
    display: flex;
    flex-wrap: wrap;
    .button-menu {
      &--click {
        :focus {
          outline: none;
        }
        width: 260px;
        min-width: 200px;
        min-height: 230px;
        // padding: 30px 30px;
        background-color: #fff;
        outline: none;
        border-radius: 10px;
        position: relative;
        @media only screen and (max-width: 667px) {
          width: 140px;
          min-width: 0;
        }
        p {
          font-size: 27px;
          font-weight: bold;
          color: #828282;
          position: absolute;
          bottom: 10px;
          letter-spacing: 1px;
          line-height: 0.8;
          left: 0;
          right: 0;
          @media only screen and (max-width: 768px) {
            font-size: 19px;
          }
        }
        // .clothes {
        //   @media only screen and (max-width: 768px) {
        //     font-size: 23px;
        //   }
        // }
        #cloth2 {
          @media only screen and (max-width: 768px) {
            width: 40%;
          }
        }
        #ac2 {
          @media only screen and (max-width: 768px) {
            width: 60%;
          }
        }
        #robot2 {
          @media only screen and (max-width: 768px) {
            width: 55%;
          }
        }
        img {
          @media only screen and (max-width: 768px) {
            width: 40%;
          }
        }
      }
      &--click:hover {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
        box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.19);
        p {
          color: #02289d;
        }
      }
    }
  }
}
.container-detail--box {
  width: 100%;
  position: relative;
  margin-top: -10px;
  z-index: 1;
  background: #f2f2f2;

  // height: 100%;

  .bottom-de {
    width: 100%;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    z-index: 3;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
    box-shadow: 3px 7px 5px -2px rgba(0, 0, 0, 0.19);
    @media only screen and (max-width: 768px) {
      z-index: 0;
    }
  }
  .content-boxx {
    display: flex;
  }
  .detail--box {
    position: relative;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: 768px) {
      height: auto;
    }
  }

  .contentSlide {
    padding-top: 80px;
    padding-bottom: 30px;
    position: relative;
    z-index: 4px;
  }

  .tab {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    justify-content: space-around;
    background-color: #303030;
    width: 240px;
    max-height: 780px;
    height: calc(100% - 40px);
    z-index: 2;
    padding-top: 40px;
    width: lib-vw(1920, 240);
    @media only screen and (max-width: 768px) {
      bottom: 0;
      width: 100%;
      height: 105px;
      flex-wrap: nowrap;
      padding-top: 0px;
    }
  }

  .service--tab {
    -webkit-box-shadow: 3px 7px 5px -3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 3px 7px 5px -3px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.19);

    .menu-left {
      width: 100%;
      position: relative;
      @include flexbox();
      @include align-items(center);
      .active {
        border-right: 4px solid #fff;
        font-size: 23px;
        font-weight: bold;

        .img1 {
          content: url(images/icon/unbox-ac.png);
        }
        .img2 {
          content: url(images/icon/inqu-ac.png);
        }
        .img3 {
          content: url(images/icon/setting-ac.png);
        }
        .img4 {
          content: url(images/icon/extra-ac.png);
        }
        @media only screen and (max-width: 768px) {
          border-top: 6px solid #fff;
          border-right: none;
          font-size: 16px;
          img {
            transform: scale(0.6);
          }
        }
        span {
          font-size: 16px;
        }
      }
      span {
        font-size: 14px;
      }
      @media only screen and (max-width: 768px) {
        span {
          display: none;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      // display: none;
      z-index: 5;
      position: fixed;
      bottom: 0;
    }
  }

  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: #fff;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
    transition: 0.4s;
    font-size: 17px;
    @media only screen and (max-width: 768px) {
      text-align: center;
      padding: 7px 10px;
    }
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    // background-color: #ddd;
  }

  /* Create an active/current "tab button" class */
  .tab button.active {
    // background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
  }

  #Unbox {
    .s2 {
      position: relative;
    }
  }
  .slide--01 {
    .outline {
      outline: none;
      cursor: default;
      display: block;
      width: 100%;
      margin: 0 auto;
      @media only screen and (max-width: 768px) {
        width: auto;
      }
    }
    .dt-show {
      display: block;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .mb-show {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    // padding-top: 100px; /* Location of the box */
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 50%;
    height: 75%;
    overflow: scroll;
    border-radius: 20px;
    @media screen and (max-width: 768px) {
      width: 70%;
      padding: 20px;
    }
    .modal-title {
      text-align: center;
      font-size: 36px;
      @media screen and (max-width: 768px) {
        font-size: 23px;
      }
    }
    .addinput {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      .myInputModal {
        width: 41%;
        height: 37px;
        border-radius: 20px;
        padding-left: 20px;
        outline: none;
        font-size: 24px;
        @media screen and (max-width: 768px) {
          width: 96%;
        }
      }
    }
    .m--result {
      font-size: 24px;
    }
    .table-list {
      overflow: scroll;
      table {
        width: 100%;
        margin-top: 15px;
        @media screen and (max-width: 768px) {
          width: 145%;
        }
      }
      .head-d {
        font-size: 22px;
        td {
          @media screen and (max-width: 768px) {
            // width: 100px;
          }
        }
      }
    }
    .table-list2 {
      text-align: center;
      img {
        width: 90%;
      }
      .modal-dt-image {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .modal-mb-image {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
          width: 100%;
        }
      }
    }
    #myTable {
      font-size: 24px;
      font-weight: 800;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
  }
  .modal-content-image {
    width: 80% !important;
    overflow: visible;
    @media screen and (max-width: 768px) {
      width: 88% !important;
      
    }
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .digital-e-domo-service,
  .livechat,
  .atservice,
  .extra,
  .warranty,
  .at-service {
    outline: none;
    area {
      outline: none;
    }
  }
  .slide--item {
    width: 100%;
    @include flex(0 0 100%);
    .image-service {
      position: relative;
      width: 100%;
      @media screen and (max-width: 768px) {
        width: auto;
        display: inline-block;
      }
      .link-ss {
        &--livechat {
          display: block;
          // background-color: red;
          position: absolute;
          opacity: 0.5;

          width: lib-vw(1920, 230);
          height: lib-vw(1920, 45);
          top: lib-vw(1920, 408);
          left: lib-vw(1920, 50);

          @media screen and (max-width: 768px) {
            width: 160px;
            height: 30px;
            top: 436px;
            left: 20px;
          }
        }
        &--atservice {
          display: block;
          // background-color: red;
          position: absolute;
          opacity: 0.5;

          width: lib-vw(1920, 300);
          height: lib-vw(1920, 45);
          top: lib-vw(1920, 330);
          left: lib-vw(1920, 50);

          @media screen and (max-width: 768px) {
            width: 220px;
            height: 30px;
            top: 420px;
            left: 20px;
          }
        }
        &--extra {
          display: block;
          // background-color: red;
          position: absolute;
          opacity: 0.5;

          width: lib-vw(1920, 300);
          height: lib-vw(1920, 45);
          top: lib-vw(1920, 417);
          left: lib-vw(1920, 50);

          @media screen and (max-width: 768px) {
            width: 193px;
            height: 30px;
            top: 465px;
            left: 20px;
          }
        }
        &--serviceat {
          display: block;
          // background-color: red;
          position: absolute;
          opacity: 0.5;

          width: lib-vw(1920, 120);
          height: lib-vw(1920, 20);
          top: lib-vw(1920, 480);
          left: lib-vw(1920, 150);
          @media screen and (max-width: 768px) {
            width: 100px;
            height: 30px;
            top: 380px;
            left: 145px;
          }
        }
        &--modalversion {
          display: block;
          // background-color: blue;
          position: absolute;
          opacity: 0.5;

          width: lib-vw(1920, 305);
          height: lib-vw(1920, 50);
          top: lib-vw(1920, 320);
          left: lib-vw(1920, 54);
          @media screen and (max-width: 768px) {
            width: 230px;
            height: 30px;
            top: 480px;
            left: 20px;
          }
        }

        &--modalversion1 {
          display: block;
          // background-color: blue;
          position: absolute;
          opacity: 0.5;

          width: lib-vw(1920, 303);
          height: lib-vw(1920, 40);
          top: lib-vw(1920, 412);
          left: lib-vw(1920, 54);
          @media screen and (max-width: 768px) {
            width: 230px;
            height: 30px;
            top: 464px;
            left: 20px;
          }
        }
        &--modalversion2 {
          display: block;
          // background-color: purple;
          position: absolute;
          opacity: 0.5;

          width: lib-vw(1920, 180);
          height: lib-vw(1920, 40);
          top: lib-vw(1920, 384);
          left: lib-vw(1920, 54);
          @media screen and (max-width: 768px) {
            width: 110px;
            height: 30px;
            top: 520px;
            left: 20px;
          }
        }
        &--serviceat2 {
          display: block;
          // background-color: green;
          position: absolute;
          opacity: 0.5;

          width: lib-vw(1920, 225);
          height: lib-vw(1920, 40);
          top: lib-vw(1920, 440);
          left: lib-vw(1920, 54);
          @media screen and (max-width: 768px) {
            width: 160px;
            height: 30px;
            top: 560px;
            left: 20px;
          }
        }
        &--warranty {
          display: block;
          // background-color: red;
          position: absolute;
          opacity: 0.5;

          width: lib-vw(1920, 180);
          height: lib-vw(1920, 45);
          top: lib-vw(1920, 290);
          left: lib-vw(1920, 50);
          @media screen and (max-width: 768px) {
            width: 130px;
            height: 30px;
            top: 470px;
            left: 20px;
          }
        }
      }
    }
  }
}
.container-body--menu .block--menu .mobliess .active {
  background-image: url("images/icon/mb-2.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
}
.container-body--menu .block--menu .tvs .active {
  background-image: url("images/icon/tv-2.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
}
.container-body--menu .block--menu .wms .active {
  background-image: url("images/icon/wm-2.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
}
.container-body--menu .block--menu .cloths .active {
  background-image: url("images/icon/cloth-2.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
}
.container-body--menu .block--menu .refrigs .active {
  background-image: url("images/icon/ref-2.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
}
.container-body--menu .block--menu .acs .active {
  background-image: url("images/icon/ac-2.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
}
.container-body--menu .block--menu .mcs .active {
  background-image: url("images/icon/micro-2.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
}
.container-body--menu .block--menu .robots .active {
  background-image: url("images/icon/robot-2.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
}
