
// Responsive Variables

$screen-xxxs :'(min-width: 0px)';
$screen-xxs :'(min-width: 320px)';
$screen-xs :'(min-width: 568px)';
$screen-sm-min :'(min-width: 667px)';
$screen-md-min :'(min-width: 768px)';
$screen-lg-min :'(min-width: 992px)';
$screen-xl-min :'(min-width: 1200px)';
$screen-xxl-min :'(min-width: 1440px)';
$screen-xxxl-min :'(min-width: 1600px)';